<div class="container">
  <div class="row">
    <div class="col-sm-12">
  
        <mat-toolbar color="primary" class="nav">
          
          <a routerLink="/post">Post</a>
          <a routerLink="/repo">Repo</a>
          
          
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  <footer>
    <div class="col-sm-12">
  
        <mat-toolbar color="primary" class="nav">
          <span>All right reserved &#169; {{mydate|date:'shortDate'}}</span>
        </mat-toolbar>
    </div>
  </footer>
  
</div>