<header>
  <mat-toolbar color="primary">
    <a routerLink="/post" routerLinkActive="active">Post</a>
      <a routerLink="/repo"  routerLinkActive="active">Repo</a>
  </mat-toolbar>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar color="primary">
    <span>All right reserved &#169; {{mydate|date:'shortDate'}}</span>
  </mat-toolbar>

</footer>



 <!-- <div class="row nav">
  <div class="col-sm-12"  >

    <mat-toolbar color="primary" class="d-flex justify-content-center">
      
    </mat-toolbar>
  </div>
</div>
 -->