/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* navbar code */

/* nav bar css */
header {
  width: 100%;
  position: sticky;
  top:0;
  z-index: 444;
  
 
  
}
header mat-toolbar {
  display: flex;
  justify-content: center;

}
header a {
  text-decoration: none;
  font-size: large;
  color: white;
  padding: 10px;
}
header .active{
  color: red;
}
header .active::after{
 
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  
  
}
header a:hover {
  color: red;

  transition: all 1s;
}
header a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  color: black;
  background-color: red;
  transition: all 0.3s;
}
header a:hover::after {
  content: "";

  width: 100%;
  height: 2px;
  color: black;
  background-color: red;
  transition: all 0.5s;
}
/* card code */

/* footer code */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 444;
}
footer mat-toolbar{
  display: flex;
  justify-content: center;
  width: 100%;
  
}
